/*Cards Index*/
.card {
  margin-top: 20px;
  border-radius: 20px;
  border-color: transparent;
  color: white;
  background-color: transparent; }

.card img {
  border-radius: 2px; }

.card-title {
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  color: #b33a3a; }

.cardServicio {
  color: #b33a3a;
  width: 20rem; }

/*Card Ubiacion*/
.card-header {
  text-align: center;
  font-family: 'Teko', sans-serif;
  color: #b33a3a;
  font-size: 100px;
  background-color: transparent; }

.mapa {
  border: 1px solid orangered;
  margin-left: 45px;
  padding-top: -20;
  border-radius: 20px; }

ul li img {
  padding-top: 100px;
  padding-left: 10px; }

ul img {
  padding-top: 40px; }

ul li {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  margin: -55px;
  padding-top: 20px;
  padding-left: 100px;
  text-align: left;
  color: #c54f4f;
  list-style: none; }

.btn {
  border-color: grey;
  background-color: #272727; }

.btn:hover {
  border-color: #b33a3a;
  background-color: #b33a3a; }

.tecnico {
  margin-top: 40px; }

/*Cards noticias*/
.container_noticias-fluid {
  margin-top: -80px; }

.card-deck {
  margin-top: 50px; }

/* Cards Motocicletas*/
.parallax1 {
  border-radius: 20px;
  margin-top: 40px;
  width: 100%;
  height: 50%;
  background-image: url("../assets/img/motocicletas/honda.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.parallax2 {
  border-radius: 20px;
  margin-top: 40px;
  width: 100%;
  height: 50%;
  background-image: url("../assets/img/motocicletas/yamaha.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.parallax3 {
  border-radius: 20px;
  margin-top: 40px;
  width: 100%;
  height: 50%;
  background-image: url("../assets/img/motocicletas/ktm.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.card__motocicletas-honda {
  font-family: 'Teko', sans-serif;
  color: #fa5353;
  font-size: 70px; }

.card__motocicletas-yamaha {
  font-family: 'Teko', sans-serif;
  color: #4b4bfa;
  font-size: 70px; }

.card__motocicletas-ktm {
  font-family: 'Teko', sans-serif;
  color: #f8a84d;
  font-size: 70px; }

a {
  text-decoration: none;
  transition: 0.5s; }

a:hover {
  text-decoration: none;
  transform: scale(1.3); }

/*Motos Honda*/
.container_motoshonda {
  margin-top: 5rem; }

.card-honda {
  margin-left: -100px; }

.card__honda-title {
  letter-spacing: 5px;
  font-family: 'Teko', sans-serif;
  color: #921b1b;
  font-size: 100px; }

.imagen-derecha {
  clip-path: polygon(53% 0, 100% 0, 100% 100%, 0% 100%); }

.imagen-izquierda {
  clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
  margin-left: -100px; }

.titulo-honda {
  margin-top: 35px;
  margin-left: 200px;
  color: #fd2727;
  font-family: 'Teko', sans-serif;
  font-size: 80px; }

.descripcion-motos {
  font-size: 20px;
  font-family: 'Teko', sans-serif;
  margin-left: 150px;
  color: white; }

.imagen__cbr300-izquierda {
  clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
  margin-left: -100px; }

/*Motos yamaha*/
.card__yamaha-title {
  letter-spacing: 5px;
  font-family: 'Teko', sans-serif;
  color: #3939fd;
  font-size: 100px; }

.titulo-yamaha {
  margin-top: 35px;
  margin-left: 200px;
  color: #3939fd;
  font-family: 'Teko', sans-serif;
  font-size: 80px; }

.titulo__mt09-yamaha {
  margin-top: 35px;
  margin-left: 200px;
  color: #3939fd;
  font-family: 'Teko', sans-serif;
  font-size: 80px; }

.imagen__mt03-izquierda {
  clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
  margin-left: -100px; }

/*Motos KTM*/
.card__ktm-title {
  letter-spacing: 5px;
  font-family: 'Teko', sans-serif;
  color: orangered;
  font-size: 100px; }

.titulo-ktm {
  margin-top: 35px;
  margin-left: 200px;
  color: orangered;
  font-family: 'Teko', sans-serif;
  font-size: 80px; }

.titulo__790-ktm {
  margin-top: 35px;
  margin-left: 200px;
  color: orangered;
  font-family: 'Teko', sans-serif;
  font-size: 80px; }

.imagen__390-izquierda {
  clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
  margin-left: -100px; }

/*Financiacion*/
.ahora12 {
  margin-top: 50px; }

.financiacion {
  padding: none;
  margin-left: -200px; }

#carouselExampleSlidesOnly .carousel-item {
  clip-path: none; }

#carouselFinanciacion {
  margin-top: -150px;
  margin-left: -20px;
  border: 3px solid #f37272;
  clip-path: none; }

#button-financiacion {
  margin-top: -20rem; }

/*Contacto*/
.card_contacto-header {
  margin-left: 200px;
  text-align: left;
  font-family: 'Teko', sans-serif;
  color: #fc8947;
  font-size: 100px; }

.carousel {
  margin-left: 10px;
  margin-right: 10px; }

.carousel-item {
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); }

hr {
  width: 75%;
  border-color: #050505; }

/*NAV*/
.logoPrincipal {
  width: 200px; }

.tituloNav {
  margin-top: 40px;
  margin-left: -25rem;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #f83737; }

.navRedes {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  margin-left: 24.3rem;
  margin-top: 40px;
  color: #522727;
  font-family: "Teko", sans-serif; }

.logoNav {
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 10px;
  margin-right: 0;
  transition: 0.5s; }

.logoNav:hover {
  transform: scale(1.2); }

.navbar {
  margin-top: 70px;
  margin-left: 10rem;
  margin-right: 30rem;
  font-family: "Teko", sans-serif;
  color: black;
  font-size: 20px; }

.nav-item {
  padding: 80px;
  font-weight: 600;
  text-transform: uppercase; }

.nav-link {
  color: white !important;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 700; }

.nav-link:hover {
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  transition: all 0.8s ease 0.0s; }

/*footer*/
.titulo {
  font-family: 'Teko', sans-serif;
  padding-right: 20px;
  color: white;
  text-align: center;
  font-size: 60px; }

.subtitulo {
  font-family: 'Teko', sans-serif;
  color: white;
  padding-right: 20px;
  text-align: center;
  font-size: 30px; }

.subtitulo:hover {
  border-radius: 50px;
  background-color: #ff5050; }

.redesSociales {
  font-family: 'Teko', sans-serif;
  padding-right: 20px;
  color: white;
  text-align: center;
  font-size: 60px; }

.logo {
  border-radius: 10px;
  margin-left: 26rem; }

.logo:hover {
  background-color: #ff5050; }

.logo2 {
  border-radius: 20px;
  margin-left: 10px; }

.logo2:hover {
  background-color: #ff5050; }

.creador {
  font-family: 'Teko', sans-serif;
  color: white;
  margin-top: 40px;
  text-align: center; }

/*Encabezados index*/
.titulo-servicio {
  font-family: 'Teko', sans-serif;
  color: #b33a3a;
  font-size: 60px; }

/*Encabezado novedades*/
.noticias {
  margin-top: 30px;
  border-radius: 10px;
  font-family: 'Teko', sans-serif;
  color: white;
  padding-top: 5px;
  text-align: left;
  font-size: 100px;
  color: #fdfdfd; }

/*Encabezado tabla*/
.titulo_motogp {
  font-family: 'Teko', sans-serif;
  color: #e00707;
  font-size: 50px;
  padding-top: 80px; }

.top {
  font-family: 'Teko', sans-serif;
  color: #ff7979;
  font-size: 25px; }

/*Encabezado motocicletas*/
.titulo_marcas {
  margin-top: 20rem;
  font-family: 'Teko', sans-serif;
  color: white;
  font-size: 100px; }

/*Encabezado contacto*/
form {
  margin-left: 50px; }

.titulo_consulta {
  margin-top: 50px;
  padding-left: 50px;
  font-family: 'Teko', sans-serif;
  color: #fa4040;
  font-size: 80px; }

.titulo_text {
  padding-top: 20px;
  font-family: 'Teko', sans-serif;
  color: #fa4040;
  font-size: 40px; }

.titulo_financiacion {
  font-family: 'Teko', sans-serif;
  font-size: 60px;
  color: #42d335; }

.table {
  color: white;
  background-color: transparent;
  padding-right: 50px; }

.moto_gp {
  margin-top: -100px;
  float: right;
  width: 100px;
  transition: transform .0; }

.moto_gp:hover {
  transform: scale(1.1); }

/*footers*/
.container-footer {
  background-color: #141414;
  padding-top: 50px;
  margin-top: 10rem; }

.container_novedades-footer {
  background-color: #141414;
  margin-top: 50px;
  padding-top: 50px; }

.container_motocicletas-footer {
  background-color: #141414;
  margin-top: 24rem;
  padding-top: 50px; }

.container_honda-footer {
  background-color: #141414;
  margin-top: 100px;
  padding-top: 50px; }

/*Motos Honda*/
.container_motoshonda {
  margin-top: 5px;
  margin-left: 80px; }

.container_form-fluid {
  margin-left: 0px; }

/*Financiacion*/
.container_financiacion-fluid {
  margin-top: 50px;
  margin-left: 250px; }

/*contacto*/
.container_contacto-fluid {
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 100px; }

.container_contacto-footer {
  background-color: #141414;
  margin-top: 10rem;
  padding-top: 50px; }

/*Resolucion para dispositivos moviles*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden; }
  /*Nav index*/
  .container_header-fluid {
    background-color: transparent; }
  .navbar {
    z-index: 99999;
    margin-top: 30px;
    margin-left: 10rem;
    margin-right: 30rem;
    font-family: "Teko", sans-serif;
    color: black;
    font-size: 20px; }
  .nav-item {
    background-color: black;
    margin-top: -100px;
    padding-top: 60px;
    padding-bottom: 138px;
    margin-left: -150px;
    padding-left: 40px;
    font-weight: 600; }
  .nav-link {
    position: relative;
    color: white !important;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 600; }
  .logoPrincipal {
    float: left;
    margin-left: 20px;
    margin-top: -15px;
    width: 50%; }
  .navRedes {
    display: none; }
  .logoNav {
    width: 100px;
    padding: 40px;
    margin-top: -240px;
    margin-left: 15rem; }
  .navbar-toggler-icon {
    border-radius: 5px;
    background-color: grey;
    margin-left: -300px;
    margin-top: -15rem; }
  /*Contenido index*/
  .carrousel-inner {
    width: 100%; }
  .tecnico {
    margin-top: 40rem; }
  .card-header {
    font-size: 40px; }
  .mapa {
    margin-left: -30px;
    width: 120%; }
  ul img {
    display: none; }
  ul li {
    padding-left: 30px;
    padding-top: 100px;
    font-size: 17px; }
  /*Novedades*/
  .noticias {
    font-size: 60px;
    margin-bottom: 30px; }
  /*Motocicletas*/
  .titulo_marcas {
    font-size: 80px;
    padding-left: 90px;
    margin-top: 60px; }
  /*honda*/
  .card-honda {
    margin-left: -85px;
    width: 130%; }
  .card__honda-title {
    margin-top: -20px;
    margin-left: -80px;
    font-size: 40px; }
  .titulo-honda {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 50px; }
  .descripcion-motos {
    font-size: 13px;
    margin-left: -20px; }
  .imagen-derecha {
    width: 130%;
    margin-left: -90px;
    border-radius: 15px;
    clip-path: none; }
  .imagen-izquierda {
    position: absolute;
    margin-top: 475px;
    width: 130%;
    margin-right: -90px;
    border-radius: 15px;
    clip-path: none; }
  .imagen__cbr300-izquierda {
    margin-top: 475px;
    width: 135%;
    position: absolute;
    clip-path: none;
    border-radius: 15px;
    margin-left: -30px; }
  section form {
    width: 80%;
    margin-top: 4rem;
    margin-left: -27rem; }
  .titulo_consulta {
    font-size: 60px;
    margin-top: 30rem;
    margin-left: -30rem; }
  .cbr500 {
    margin-top: 350px; }
  /*yamaha*/
  .card__yamaha-title {
    margin-top: -20px;
    margin-left: -80px;
    font-size: 40px; }
  .titulo-yamaha {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 50px; }
  .titulo__mt09-yamaha {
    margin-top: 475px;
    margin-left: 10px;
    font-size: 50px; }
  .imagen__mt03-izquierda {
    margin-top: 475px;
    width: 135%;
    position: absolute;
    clip-path: none;
    border-radius: 15px;
    margin-left: -30px; }
  /*ktm*/
  .card__ktm-title {
    margin-top: -20px;
    margin-left: -80px;
    font-size: 40px; }
  .titulo-ktm {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 50px; }
  .titulo__790-ktm {
    margin-top: 475px;
    margin-left: 10px;
    font-size: 50px; }
  .imagen__390-izquierda {
    margin-top: 475px;
    width: 135%;
    position: absolute;
    clip-path: none;
    border-radius: 15px;
    margin-left: -30px; }
  .container-footer {
    margin-top: 20px;
    padding-top: 20px; }
  .logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 150px; }
  .logo2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -40px;
    margin-left: 200px; }
  .ahora12 {
    margin-top: 20rem;
    margin-left: 20px; }
  /*Financiacion*/
  .financiacion {
    width: 200%;
    margin-left: -200px; }
  .ahora12 {
    margin-top: 50px;
    width: 200%;
    padding-right: 5px;
    margin-left: -200px; }
  #formFinanciacion {
    display: none; }
  #carouselFinanciacion {
    display: none; }
  /*tabla*/
  .table {
    margin: 5px; }
  /*contacto*/
  .card_contacto-header {
    font-size: 50px;
    margin-left: 20px; }
  .form-contacto {
    margin-top: 25rem;
    margin-left: 30px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden; }
  /*Nav index*/
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 10px; }
  .logoPrincipal {
    margin-top: 40px;
    width: 100%;
    margin-left: 10px; }
  .tituloNav {
    border: none;
    font-size: 40px;
    padding-left: 50px;
    margin-left: 100px; }
  .logos {
    margin-left: 40px; }
  .logoNav {
    width: 30px;
    margin-left: 10px; }
  .navbar {
    margin-left: 20px; }
  .navbar ul li {
    padding: none; }
  .nav-item {
    padding-left: 40px; }
  .nav-link {
    padding: none;
    font-size: 10px; }
  /*Contenido index*/
  .card__yamaha-img-top {
    height: 150px; }
  .tecnico {
    margin-top: 5rem; }
  .card-header {
    font-size: 40px; }
  .imgFondo {
    height: 50rem; }
  .mapa {
    width: 300px; }
  ul li {
    font-size: 25px; }
  .card-title {
    font-size: 20px; }
  .card-text {
    font-size: 12px; }
  /*honda*/
  .card-honda {
    width: 100%; }
  .card__honda-title {
    margin-left: 100px;
    font-size: 50px; }
  .titulo-honda {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 50px; }
  .descripcion-motos {
    font-size: 13px;
    margin-left: -20px; }
  .imagen-derecha {
    width: 130%;
    margin-left: -90px;
    border-radius: 15px;
    clip-path: none; }
  .imagen-izquierda {
    position: absolute;
    margin-top: 475px;
    width: 130%;
    margin-right: -90px;
    border-radius: 15px;
    clip-path: none; }
  .imagen__cbr300-izquierda {
    margin-top: 475px;
    width: 135%;
    position: absolute;
    clip-path: none;
    border-radius: 15px;
    margin-left: -30px; }
  section form {
    width: 80%;
    margin-top: 4rem;
    margin-left: -27rem; }
  .titulo_consulta {
    font-size: 60px;
    margin-top: 30rem;
    margin-left: -30rem; }
  .cbr500 {
    margin-top: 350px; }
  /*footer*/
  .container-footer {
    margin-top: 100px;
    padding-top: 20px; }
  .logo {
    margin-left: 11rem; }
  .ahora12 {
    margin-top: none;
    margin-left: none; }
  #button-financiacion {
    margin-top: 30px; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    margin-left: 10px;
    margin-right: 10px; }
  /*Nav index*/
  .navbar {
    margin-left: 5px; }
  .logoPrincipal {
    width: 100%;
    margin-top: 40px;
    margin-left: 10px; }
  .logoNav {
    width: 30px;
    margin-left: 10px; }
  .nav-link {
    font-size: 15px; }
  .navbar ul li {
    margin-right: -90px; }
  /*Contenido index*/
  .card__yamaha-img-top {
    height: 260px; }
  .tecnico {
    margin-top: 5rem; }
  .card-header {
    font-size: 40px; }
  .imgFondo {
    height: 50rem; }
  .mapa {
    width: 300px; }
  ul li {
    font-size: 25px; }
  .card-title {
    font-size: 20px; }
  .card-text {
    font-size: 12px; }
  .ahora12 {
    margin-top: none;
    margin-left: none; }
  #button-financiacion {
    margin-top: 30px; }
  /*footer*/
  .container-footer {
    margin-top: 100px;
    padding-top: 20px; }
  .logo {
    margin-left: 12rem; } }

@media (min-width: 1281px) and (max-width: 1600px) {
  /*Nav index*/
  .logoPrincipal {
    margin-left: 10px; }
  .tituloNav {
    font-size: 40px;
    margin-left: 50px; }
  .navRedes {
    margin-left: 20px; }
  .logoNav {
    width: 40px;
    margin-left: 50px; }
  /*Contenido index*/
  .card__yamaha-img-top {
    height: 260px; }
  .tecnico {
    margin-top: 5rem; }
  .card-header {
    font-size: 40px; }
  .imgFondo {
    height: 50rem; }
  .mapa {
    width: 300px; }
  ul li {
    font-size: 25px; }
  .card-title {
    font-size: 20px; }
  .card-text {
    font-size: 12px; }
  /*footer*/
  .container-footer {
    margin-top: 20px;
    padding-top: 20px; }
  .logo {
    margin-left: 15rem; }
  .ahora12 {
    width: 50%;
    margin-top: 5rem;
    margin-left: none; } }

.form {
  width: 100%;
  margin-left: 30rem; }

/*carousel*/
.carousel {
  width: 100%; }

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: -0;
  transition: opacity ease-out .3s; }

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important; }

body {
  overflow-x: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to top, black, #363636, #1b1b1b); }

header {
  height: 15rem;
  border-radius: 10px;
  background-color: #141414; }
