/*carousel*/ 
.carousel {
    width: 100%;
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: -0;
    transition: opacity ease-out .3s;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
.carousel {
    margin: {
        left: 10px;
        right: 10px;
    }
}
.carousel-item {
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}