/*Contacto*/
.card_contacto-header {
    margin-left: 200px;
    text-align: left;
    font-family: 'Teko', sans-serif;
    color: rgb(252, 137, 71);
    font-size: 100px;
}

hr {
    width: 75%;
    border-color: rgb(5, 5, 5);
}