/*Encabezados index*/
.titulo-servicio {
    font-family: 'Teko', sans-serif;
    color: rgb(179, 58, 58);
    font-size: 60px;
}
/*Encabezado novedades*/
.noticias {
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    text-align: left;
    font-size: 100px;
    color: rgb(253, 253, 253);
}
/*Encabezado tabla*/
.titulo_motogp {
    font-family: 'Teko', sans-serif;
    color: rgb(224, 7, 7);
    font-size: 50px;
    padding-top: 80px;
}
.top {
    font-family: 'Teko', sans-serif;
    color: rgb(255, 121, 121);
    font-size: 25px;
}
/*Encabezado motocicletas*/
.titulo_marcas {
    margin-top: 20rem;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 100px;
}
/*Encabezado contacto*/
form {
    margin-left: 50px;
}
.titulo_consulta {
    margin-top: 50px;
    padding-left: 50px;
    font-family: 'Teko', sans-serif;
    color: rgb(250, 64, 64);
    font-size: 80px;
}
.titulo_text {
    padding-top: 20px;
    font-family: 'Teko', sans-serif;
    color: rgb(250, 64, 64);
    font-size: 40px;
}
.titulo_financiacion {
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    color: rgb(66, 211, 53);
}