/*Financiacion*/
.ahora12 {
    margin-top: 50px;
}
.financiacion {
    padding: none;
    margin-left: -200px;
}
#carouselExampleSlidesOnly {
    .carousel-item {
        clip-path: none;
    }
}
#carouselFinanciacion {
    margin-top: -150px;
    margin-left: -20px;
    border: 3px solid rgb(243, 114, 114);
    clip-path: none;
}
#button-financiacion {
    margin-top: -20rem;
}