/*Motos KTM*/
.card__ktm-title {
    letter-spacing: 5px;
    font-family: 'Teko', sans-serif;
    color: orangered;
    font-size: 100px;
}
.titulo-ktm {
    margin: {
        top: 35px;
        left: 200px;
    }
    color: orangered;
    font-family: 'Teko', sans-serif;
    font-size: 80px;
}
.titulo__790-ktm {
    margin: {
        top: 35px;
        left: 200px;
    }
    color: orangered;
    font-family: 'Teko', sans-serif;
    font-size: 80px;
}
.imagen__390-izquierda {
    clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
    margin-left: -100px;
}