/*Resolucion para dispositivos moviles*/
@media only screen and (min-width : 320px) and (max-width : 480px){
    body {
        overflow-x: hidden;
        margin: 10px;
    }
    /*Nav index*/
    .container_header-fluid {
        background-color: transparent;
    }
    .navbar {
        z-index: 99999;
        margin-top: 30px;
        margin-left: 10rem;
        margin-right: 30rem;
        font-family: $fuente;
        color: black;
        font-size: 20px;
    }
    .nav-item {
        
        background-color: black;
        margin-top: -100px;
        padding-top: 60px;
        padding-bottom: 138px;
        margin-left: -150px;
        padding-left: 40px;
        font-weight: 600;
    }
    .nav-link {
        position: relative;
        color: white !important;
        letter-spacing: 4px;
        font-size: 20px;
        font-weight: 600;
    }
    .logoPrincipal {
        float: left;
        margin-left: 20px;
        margin-top: -15px;
        width: 50%;
    }
    .navRedes {
        display: none;
    }
    .logoNav {
        width: 100px;
        padding: 40px;
        margin-top: -240px;
        margin-left: 15rem;
        
    }
    .navbar-toggler-icon {
        color: red;
        background-color: grey;
        margin-left: -300px;
        margin-top: -15rem;
    }
    /*Contenido index*/
    .carrousel-inner {
        width: 100%;
    }
    .tecnico {
        margin-top: 40rem;
    }
    .card-header {
        font-size: 40px;
    }
    
    .mapa {
        margin-left: -30px;
        width: 120%;
    }
    ul img {
        display: none;
    }
    ul li {
        padding-left: 30px;
        padding-top: 100px;
        font-size: 17px;
    }
    /*Novedades*/
    .noticias {
        font-size: 60px;
        margin-bottom: 30px;
    }
    /*Motocicletas*/
    .titulo_marcas {
        font-size: 80px;
        padding-left: 90px;
        margin-top: 60px;
    }
    
    /*honda*/
    .card-honda {
        margin-left: -85px;
        width: 130%;
    }
    .card__honda-title {
        margin-top: -20px;
        margin-left: -80px;
        font-size: 40px;
    }
    .titulo-honda {
        margin-left: 10px;
        font-size: 50px;
    }
    .descripcion-motos {
        font-size: 15px;
        margin-left: -40px;
    }
    .imagen-derecha {
        width: 130%;
        margin-left: -90px;
        border-radius: 15px;
        clip-path: none;
    }
    .imagen-izquierda {
        position: absolute;
        margin-top: 475px;
        width: 130%;
        margin-right: -90px;
        border-radius: 15px;
        clip-path: none;
    }
    .imagen__cbr300-izquierda {
        margin-top: 475px;
        width: 130%;
        position: absolute;
        clip-path: none;
        border-radius: 15px;
        margin-left: -70px;
    }
    section form {
        width: 80%;
        margin-top: 4rem;
        margin-left: -27rem;
    }
    .titulo_consulta {
        font-size: 60px;
        margin-top: 30rem;
        margin-left: -32rem;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 8rem;
    }
    .ahora12 {
        margin-top: 20rem;
        margin-left: 20px;        
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    /*Nav index*/
    * {
        overflow-x: hidden;
    }
    body {
        width: 100%;
    }
    .logoPrincipal {
        width: 100%;
        
    }
    .tituloNav {
        margin-left: 10px;
        width: 100%;
        font-size: 30px;
    }
    .navRedes {
       display: none;
    }
    .logoNav {
       display: none;
    }
    /*Contenido index*/
    
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul img {
        display: none;
    }
    ul li {
        padding-left: 20px;
        padding-top: 100px;
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 11.5rem;
    }
    .ahora12 {
        margin-top: 20rem;
        margin-left: 20px;        
    }
 }
@media (min-width: 768px) and (max-width: 1024px) {
        /*Nav index*/
    body {
        width: 100%;
    }
    .logoPrincipal {
        margin-left: 10px;
    }
    .tituloNav {
        border: none;
        font-size: 40px;
        padding-left: 50px;
        margin-left: 100px;
    }
    .navRedes {
    display: none;
    }
    .logoNav {
        width: 40px;
        margin-left: 10px;
    }
    /*Contenido index*/
    .card__yamaha-img-top {
        height: 150px;
    }
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul li {
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 20rem;
    }
    .ahora12 {
        margin-top: 20rem;
        margin-left: 20px;        
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    /*Nav index*/
    .navbar {
        margin-left: 5px;
    }
    .logoPrincipal {
        margin-left: 10px;
    }
    .navRedes {
    margin-left: 5px;
    }
    .logoNav {
        width: 40px;
        margin-left: 5px;
    }
    /*Contenido index*/
    .card__yamaha-img-top {
        height: 260px;
    }
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul li {
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
/*footer*/
.container-footer {
    margin-top: 20px;
    padding-top: 20px;
}
.logo {
    margin-left: 15rem;
}
.ahora12 {
    margin-top: 20rem;
    margin-left: 20px;        
}
}

@media (min-width: 1281px) and (max-width: 1600px) {
    /*Nav index*/
    .logoPrincipal {
        margin-left: 10px;
    }
    .tituloNav {
        font-size: 40px;
        margin-left: 50px;
    }
    .navRedes {
    margin-left: 20px;
    }
    .logoNav {
        width: 40px;
        margin-left: 50px;
    }
    /*Contenido index*/
    .card__yamaha-img-top {
        height: 260px;
    }
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul li {
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 15rem;
    }
    .ahora12 {
        width: 50%;
        margin-top: 5rem;   
        margin-left: none;
 }
}