/*Resolucion para dispositivos moviles*/
@media only screen and (min-width : 320px) and (max-width : 480px){
    /*Nav index*/
    .container_header-fluid {
        background-color: transparent;
    }
    .logoPrincipal {
        margin-top: -40px;
        float: left;
        width: 50%;
    }
    .navRedes {
        display: none;
    }
    .logoNav {
        margin-right: 200px;
    }
    /*Contenido index*/
    .carrousel-inner {
        width: 100%;
    }
    .tecnico {
        margin-top: 0px;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 45rem;
    }
    .mapa {
        width: 200px;
    }
    ul img {
        display: none;
    }
    ul li {
        padding-left: 20px;
        padding-top: 100px;
        font-size: 17px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 11rem;
    }
    .ahora12 {
        margin-top: 20rem;
        margin-left: 20px;        
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    /*Nav index*/
    * {
        overflow-x: hidden;
    }
    body {
        width: 100%;
    }
    .logoPrincipal {
        width: 100%;
        
    }
    .tituloNav {
        margin-left: 10px;
        width: 100%;
        font-size: 30px;
    }
    .navRedes {
       display: none;
    }
    .logoNav {
       display: none;
    }
    /*Contenido index*/
    
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul img {
        display: none;
    }
    ul li {
        padding-left: 20px;
        padding-top: 100px;
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 11.5rem;
    }
    .ahora12 {
        margin-top: 20rem;
        margin-left: 20px;        
    }
 }
@media (min-width: 768px) and (max-width: 1024px) {
        /*Nav index*/
    body {
        width: 100%;
    }
    .logoPrincipal {
        margin-left: 10px;
    }
    .tituloNav {
        border: none;
        font-size: 40px;
        padding-left: 50px;
        margin-left: 100px;
    }
    .navRedes {
    display: none;
    }
    .logoNav {
        width: 40px;
        margin-left: 10px;
    }
    /*Contenido index*/
    .card__yamaha-img-top {
        height: 150px;
    }
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul li {
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 20rem;
    }
    .ahora12 {
        margin-top: 20rem;
        margin-left: 20px;        
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    /*Nav index*/
    .navbar {
        margin-left: 5px;
    }
    .logoPrincipal {
        margin-left: 10px;
    }
    .navRedes {
    margin-left: 5px;
    }
    .logoNav {
        width: 40px;
        margin-left: 5px;
    }
    /*Contenido index*/
    .card__yamaha-img-top {
        height: 260px;
    }
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul li {
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
/*footer*/
.container-footer {
    margin-top: 20px;
    padding-top: 20px;
}
.logo {
    margin-left: 15rem;
}
.ahora12 {
    margin-top: 20rem;
    margin-left: 20px;        
}
}

@media (min-width: 1281px) and (max-width: 1600px) {
    /*Nav index*/
    .logoPrincipal {
        margin-left: 10px;
    }
    .tituloNav {
        font-size: 40px;
        margin-left: 50px;
    }
    .navRedes {
    margin-left: 20px;
    }
    .logoNav {
        width: 40px;
        margin-left: 50px;
    }
    /*Contenido index*/
    .card__yamaha-img-top {
        height: 260px;
    }
    .tecnico {
        margin-top: 5rem;
    }
    .card-header {
        font-size: 40px;
    }
    .imgFondo {
        height: 50rem;
    }
    .mapa {
        width: 300px;
    }
    ul li {
        font-size: 25px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 12px;
    }
    /*footer*/
    .container-footer {
        margin-top: 20px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 15rem;
    }
    .ahora12 {
        width: 50%;
        margin-top: 5rem;   
        margin-left: none;
 }
}