$rojo: rgb(248, 55, 55);
$fuente:'Teko', sans-serif;
/*NAV*/

.logoPrincipal {
    width: 200px;
}
.tituloNav {
    margin-top: 40px;
    margin-left: -25rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 50px;
    color: $rojo;
}
.navRedes {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 24.3rem;
    margin-top: 40px;
    color: rgb(82, 39, 39);
    font-family: $fuente;
}
.logoNav {
    margin: {
        top: 100px;
        left: 20px;
    }
    padding-right: 10px;
    margin-right: 0;
    transition: 0.5s;
}
.logoNav:hover {
    transform: scale(1.2);
}

.navbar {
    margin-top: 70px;
    margin-left: 10rem;
    margin-right: 30rem;
    border-radius: 10px;
    font-family: $fuente;
    color: black;
    font-size: 20px;
}
.nav-item {
    padding: 80px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-link {
    color: rgb(255, 255, 255) !important;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 700;
}
.nav-link:hover {
   border-bottom: 1px solid red;
   padding-bottom: 5px;
    transition: all 0.8s ease 0.0s;
}

