/*Motos yamaha*/
.card__yamaha-title {
    letter-spacing: 5px;
    font-family: 'Teko', sans-serif;
    color: rgb(57, 57, 253);
    font-size: 100px;

}
.titulo-yamaha {
    margin: {
        top: 35px;
        left: 200px;
    }
    color: rgb(57, 57, 253);
    font-family: 'Teko', sans-serif;
    font-size: 80px;
}
.titulo__mt09-yamaha {
    margin: {
        top: 35px;
        left: 200px;
    }
    color: rgb(57, 57, 253);
    font-family: 'Teko', sans-serif;
    font-size: 80px;
}
.imagen__mt03-izquierda {
    clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
    margin-left: -100px;
}