
@import "navbar";
@import "footer";
@import "encabezados";
@import "table";
@import "containers";
@import "mediasqueries";
@import "form";
@import "carrousel";
@import "home";
@import "novedades";
@import "motocicletas";
@import "honda";
@import "yamaha";
@import "ktm";
@import "financiacion";
@import "contacto";


body {
overflow-x: hidden;
   margin: {
       top: 20px;
       bottom: 20px;
   }
   background: linear-gradient(to top, rgb(0, 0, 0) , rgb(54, 54, 54) , rgb(27, 27, 27) );
}
header {
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}