@import "cards";
@import "navbar";
@import "footer";
@import "encabezados";
@import "table";
@import "breadcrumb";
@import "containers";
@import "mediasqueries";
body {
   margin: {
       left: 10px;
       right: 10px;
       top: 20px;
       bottom: 20px;
   }
   background: linear-gradient(to top, rgb(0, 0, 0) , rgb(70, 70, 70) , rgb(20, 20, 20) );
}
header {
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}