@import "cards";
@import "navbar";
@import "footer";
@import "encabezados";
@import "table";
@import "breadcrumb";
@import "containers";
@import "mediasqueries";

body {
overflow-x: hidden;
   margin: {
       top: 20px;
       bottom: 20px;
   }
   background: linear-gradient(to top, rgb(0, 0, 0) , rgb(54, 54, 54) , rgb(27, 27, 27) );
}
header {
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}